# We import datas

In [2]:
import pandas as pd

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9864\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
magasin = pd.read_csv('./datas/magasins.csv')
produit = pd.read_csv('./datas/produits.csv')
ventes = pd.read_csv('./datas/ventes.csv')

We show datas

In [4]:
magasin.head()

   ID Magasin      Ville  Nombre de salariés
0           1      Paris                  10
1           2  Marseille                   5
2           3       Lyon                   8
3           4   Bordeaux                  12
4           5      Lille                   6

In [5]:
produit.head()

         Nom ID Référence produit   Prix  Stock
0  Produit A               REF001  49.99    100
1  Produit B               REF002  19.99     50
2  Produit C               REF003  29.99     75
3  Produit D               REF004  79.99    120
4  Produit E               REF005  39.99     80

In [6]:
ventes.head()

         Date ID Référence produit  Quantité  ID Magasin
0  2023-05-27               REF001         5           1
1  2023-05-28               REF002         3           2
2  2023-05-29               REF003         2           1
3  2023-05-30               REF004         4           3
4  2023-05-31               REF005         7           2